.x-text-field,
.x-color-picker-field {
  display: block;
  margin: 10px 0;
}

.x-text-field label,
.x-color-picker-field label {
  width: 200px;
  float: left;
}
.x-text-field editor,
.x-color-picker-field editor {
  width: calc(100% - 200px);
}
.x-text-field .aux-editor,
.x-color-picker-field .aux-editor {
  width: 100%;
  margin-left: 200px;
}
.x-color-picker-field .color-chip {
  margin-top: 4px;
  padding-top: 2px;
  height: 0.8rem;
  display: inline-block;
  min-width: 200px;
  background-color: aqua;
  position: relative;
  top: 4px;
}

.x-color-picker-field .editor .color-channel-editor {
  display: inline;
}
